.chipSuccessful {
  border-color: var(--color-green-dark);
  color: var(--color-green-dark);
  font-size: 18px;
}
.chipUnsuccess {
  border-color: var(--color-red-dark);
  color: var(--color-red-dark);
  font-size: 18px;
}
.counter {
  font-weight: bold;
}
