.container {
  display: flex;
  gap: 0 var(--spacing-medium);
  width: 850px;
  margin: auto;
}

.column {
  flex-basis: 50%;
  padding: var(--spacing-large);
  border: 2px solid var(--color-yellow-darker);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--color-playground-bg);
  transition: all 200ms;
}
